@using IssueTracker.Models
@using IssueTracker.Helpers
@model IEnumerable<IssueTracker.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
    var rolesHelper = new RolesHelper();
}

<title>All Users - TrackIT | Beth Olmo</title>

<div class="container">
    <div class="page-inner">
        <div class="col-md-4">
            <div class="card card-dark bg-success-gradient">
                <div class="card-body pb-lg-0">
                    <div class="h1 fw-bold float-right"></div>
                    <h1 class="align-middle mb-5">All Users</h1>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <br />
                <table class="table" id="userTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Full Name")
                            </th>

                            <th>
                                @Html.DisplayName("Current Role")
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(model => user.FullName)
                                </td>

                                <td>
                                    @rolesHelper.ListUserRoles(user.Id).FirstOrDefault()
                                </td>
                                @if (User.IsInRole("Admin"))
                                {
                                    <td>
                                        @Html.ActionLink("Manage Role", "ManageUserRole", new { id = user.Id })
                                        @*<p class="m-0" data-toggle="modal" data-target="#manageUserRole"><a href="#manageUserRole">Manage Role</a></p>*@
                                        @*@Html.DropDownList("RoleName", "-- NO ROLE --")*@
                                       
                                    </td>

                                }


                            </tr>
                        }
                    </tbody>
                </table>
                <a class="btn btn-warning" href=@Url.Action("Index", "Home")><span class="btn-label"></span>Dashboard</a>
            </div>
        </div>
    </div>
</div>



@section scripts {

    <script>$('#userTable').dataTable();</script>
}
<footer class="footer">

    <div class="container-fluid">
        <img src="~/Images/TrackIT1.1Light100x40.png" />
        <div class="copyright ml-auto">
            <p>&copy; @DateTime.Now.Year - <a href="//betholmo-portfolio.netlify.app/" target="_blank">Beth Olmo</a></p>
        </div>
    </div>
</footer>
