@using IssueTracker.Models,
@using IssueTracker.Helpers,
@model IEnumerable<IssueTracker.Models.ApplicationUser>
@{
    ViewBag.Title = "ManageUserRoles";
    var rolesHelper = new RolesHelper();
    var userHelper = new UserHelper();
}

<style>
    .btnWide {
        width: 100%;
    }
</style>

<h2>Manage User Roles</h2>

<div class="row">
    <div class="col-3 text-center h2">
        Managing Role for @Model.FullName
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-8">
            @Html.ListBox("UserIds")
        </div>
        <div class="col-4">
            @Html.DropDownList("RoleName", "-- NO ROLE --")
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <button type="submit" class="btn btn-success btnWide">Manage Role</button>
        </div>
    </div>
}

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("User Email")
        </th>
        <th>
            @Html.DisplayName("Role")
        </th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @rolesHelper.ListUserRoles(user.Id).FirstOrDefault();
            </td>
        </tr>
    }
</table>