@using Microsoft.AspNet.Identity;
@using IssueTracker.Helpers;
@model IEnumerable<IssueTracker.Models.Project>

@{
    ViewBag.Title = "Index";
    var projectHelper = new ProjectHelper();

}


<div class="container">
    <div class="page-inner">
        <div class="col-md-4">
            <div class="card card-dark bg-primary-gradient">
                <div class="card-body pb-lg-0">
                    <div class="h1 fw-bold float-right"></div>
                    <h1 class="align-middle mb-5">All Projects</h1>
                </div>
            </div>
        </div>
        <div class="card" style="width: 90rem;">
            <div class="card-body">
                <br />
                <table class="table" id="projectsTable">
                    <thead>
                        <tr>
                            <th>
                                Project Name
                            </th>
                            <th>
                                Created On
                            </th>
                            <th>
                                Archived?
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayName(item.Created.ToString("MM/dd/yyyy"))
                                </td>
                                @if (item.IsArchived)
                                {
                                <td>
                                    <p>Archived</p>
                                </td>
                                }
                                else
                                {
                                    <td>
                                        
                                    </td>
                                }

                                @if (User.IsInRole("Admin") || (User.IsInRole("Project Manager")))
                                {
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })

                                    </td>
                                }

                                @if (projectHelper.IsUserOnProject(User.Identity.GetUserId(), item.Id))
                                {
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                                    </td>
                                }

                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <hr />
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-success" href=@Url.Action("ProjectWizard", "Projects")><span class="btn-label"></span>Create New</a>
                }
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <img src="~/Images/TrackIT1.1Light100x40.png" />
        <div class="copyright ml-auto">
            <p>&copy; @DateTime.Now.Year - <a href="//betholmo-portfolio.netlify.app/" target="_blank">Beth Olmo</a></p>
        </div>
    </div>
</footer>
@section scripts {
    <script>
        $('#projectsTable').dataTable({});
    </script>
}
