@{
    ViewBag.Title = "Demo Login";
    Layout = null;
}
<head>
    <!-- Fonts and icons -->
    <script src="~/Scripts/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Lato:300,400,700,900"] },
            custom: {
                "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ["~/Content/fonts.css"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fonts.css" rel="stylesheet" />
    <link href="~/Content/atlantis.css" rel="stylesheet" />
    <link href="~/Content/atlantis2.css" rel="stylesheet" />

    <title>Demo Login - TrackIT | Beth Olmo</title>
</head>

<body class="login">
    <div class="wrapper wrapper-login wrapper-login-full p-0">
        <div class="login-aside w-50 d-flex flex-column align-items-center justify-content-center text-center bg-secondary-gradient-account">
            <h1 class="title fw-bold text-white mb-3">TrackIT</h1>
            <p class="subtitle text-white op-7">Support Ticket tracking and management system.</p>
        </div>
        <div class="login-aside w-50 d-flex align-items-center justify-content-center bg-white">
            <div class="container container-login container-transparent animated fadeIn">
                <h1 class="text-center mb-xl-4">Select Your Demo User</h1>
                <div class="login-form">
                    @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("emailKey", "DemoAdminEmail")
                        @Html.Hidden("passwordKey", "DemoAdminPassword")
                        <div class="login-account">
                            <button type="submit" class="btn btn-block btn-secondary">Administrator</button>
                            <p class="mb-3">Control everything.</p>
                        </div>
                    }

                    @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("emailKey", "DemoPMEmail")
                        @Html.Hidden("passwordKey", "DemoPMPassword")
                        <div class="login-account">
                            <button type="submit" class="btn btn-block btn-secondary">Project Manager</button>
                            <p class="mb-3">Manage projects, team members, and tickets.</p>
                        </div>
                    }

                    @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("emailKey", "DemoDevEmail")
                        @Html.Hidden("passwordKey", "DemoDevPassword")
                        <div class="login-account">
                            <button type="submit" class="btn btn-block btn-secondary">Developer</button>
                            <p class="mb-3">Edit assigned tickets.</p>
                        </div>
                    }

                    @using (Html.BeginForm("DemoLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("emailKey", "DemoSubEmail")
                        @Html.Hidden("passwordKey", "DemoSubPassword")
                        <div class="login-account">
                            <button type="submit" class="btn btn-block btn-secondary">Ticket Submitter</button>
                            <p class="mb-3">Create tickets to log customer issues.</p>
                        </div>
                    }

                    <br />
                    <div class="login-account">
                        <a href="~/Account/Login" class="btn btn-block btn-success">Login</a>
                    </div>
                    <div class="login-account">
                        <a href="~/Account/Register" class="btn btn-block btn-success">Create a New Account</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/Scripts/jquery.3.2.1.min.js")
        @Scripts.Render("~/Scripts/jquery-ui.min.js")
        @Scripts.Render("~/Scripts/popper.min.js")
        @Scripts.Render("~/Scripts/bootstrap.min.js")
        @Scripts.Render("~/Scripts/atlantis.js")
    }

</body>