@using Microsoft.AspNet.Identity;
@using IssueTracker.Helpers;
@{
    ViewBag.Title = "Home Page";
    var userHelper = new UserHelper();
    var projectHelper = new ProjectHelper();
    var ticketManager = new TicketManager();

}

<title>TrackIT | Beth Olmo</title>

<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-4">
                <a href=@Url.Action("Index", "Projects")>
                    <div class="card card-dark bg-primary-gradient">
                        <div class="card-body pb-0">
                            <div class="h1 fw-bold float-right"></div>
                            <h1 class="align-middle mb-5">Projects</h1>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-4">
                <a href=@Url.Action("Index", "Tickets")>
                    <div class="card card-dark bg-secondary-gradient">
                        <div class="card-body pb-0">
                            <div class="h1 fw-bold float-right"></div>
                            <h1 class="align-middle mb-5">Tickets</h1>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href=@Url.Action("Index", "Users")>
                    <div class="card card-dark bg-success2">
                        <div class="card-body pb-0">
                            <div class="h1 fw-bold float-right"></div>
                            <h1 class="align-middle mb-5">Users</h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">My Projects</div>
                    </div>
                    <div class="card-body">
                        <table class="table" id="projectTable">
                            <thead>
                                <tr>
                                    <th>
                                        Project Name
                                    </th>
                                    <th>
                                        Created On
                                    </th>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                    {
                                        <th></th>
                                    }
                                        <th></th>
                                    </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in projectHelper.ListUserProjects(User.Identity.GetUserId()))
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayName(item.Created.ToString("MM/dd/yyyy"))
                                        </td>



                                        @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))
                                        {
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", "Projects", new { id = item.Id }, null)
                                            </td>
                                        }



                                        <td>
                                            @Html.ActionLink("Details", "Details", "Projects", new { id = item.Id }, null)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Top Tickets</div>
                    </div>
                    <div class="card-body">
                        <table class="table" id="ticketTable">
                            <thead>
                                <tr>
                                    <th>
                                        Project
                                    </th>
                                    <th>
                                        Priority
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Created
                                    </th>
                                    <th>
                                        Updated
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ticketManager.MyTopTickets())
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Project.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayName(item.Created.ToString("MM/dd/yyyy"))
                                        </td>
                                        <td>
                                            @Html.DisplayName(item.Updated.ToString())
                                        </td>
                                        <td>
                                            @if (ticketManager.CanEditTicket(item.Id))
                                            {

                                                @Html.ActionLink("Edit", "Edit", "Tickets", new { id = item.Id }, null) <span>|</span>
                                                @Html.ActionLink("Details", "Dashboard", "Tickets", new { id = item.Id }, null)
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
@section scripts {

    <script>$('#projectTable').dataTable({ responsive: true});</script>
    <script>$('#ticketTable').dataTable({ responsive: true });</script>
}
<footer class="footer">

    <div class="container-fluid">
        <div class="row" style="width: 100%;">
            <div class="col">
                <img src="~/Images/TrackIT1.1Light100x40.png" />
            </div>
            <div class="col">
                <div class="text-center">
                    <a class="btn btn-danger align-content-center" href=@Url.Action("Login", "Account")><span class="btn-label"></span>Log Off</a>
                </div>
            </div>
            <div class="col"><p class="text-right">&copy; @DateTime.Now.Year - <a href="//betholmo-portfolio.netlify.app/" target="_blank">Beth Olmo</a></p></div>
        </div>
        </div>
            
</footer>



