@model IEnumerable<IssueTracker.Models.ApplicationUser>
@{
    ViewBag.Title = "ManageProjectUsers";
    var projectHelper = new IssueTracker.Helpers.ProjectHelper
}

<h2>Manage Project Users</h2>

<style>
    .btnWide {
        width: 100%;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-6">
            <h2>Select Users</h2>
            @Html.ListBox("UserIds")
        </div>
        <div class="col-6">
            <h2>Select Project</h2>
            @Html.ListBox("ProjectIds")
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-success btnWide">Assign Users</button>
        </div>
    </div>

}

<hr />


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("User Email")
        </th>
        <th>
            @Html.DisplayName("Role")
        </th>
    </tr>

    @foreach (var user in Model.)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsArchived)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>



