@using IssueTracker.Helpers,
@using IssueTracker.Models,
@using Microsoft.AspNet.Identity;
@model IssueTracker.ViewModels.UpdateProfileVM

@{
    ViewBag.Title = "Manage";
    var rolesHelper = new RolesHelper();
    var userHelper = new UserHelper();
}

<title>Account Details - TrackIT | Beth Olmo</title>
<body>
    <div class="container">
        <div class="page-inner">
            <div class="col-md-4">
                <div class="card card-dark bg-warning-gradient">
                    <div class="card-body pb-lg-0">
                        <div class="h1 fw-bold float-right"></div>
                        <h1 class="align-middle mb-5">Account Details</h1>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <p class="text-success">@ViewBag.StatusMessage</p>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="row mt-3">
                                        <div class="col">
                                            @Html.Label("First Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col">

                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">

                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer class="footer">
    <div class="container-fluid">
        <img src="~/Images/TrackIT1.1Light100x40.png" />
        <div class="copyright ml-auto">
            <p>&copy; @DateTime.Now.Year - <a href="//betholmo-portfolio.netlify.app/" target="_blank">Beth Olmo</a></p>
        </div>
    </div>
</footer>


@*<dl class="dl-horizontal">
    <dt>Password:</dt>
    <dd>
        [
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword")
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }
        ]
    </dd>
    <dt>External Logins:</dt>
    <dd>
        @Model.Logins.Count [
        @Html.ActionLink("Manage", "ManageLogins") ]
    </dd>

</dl>*@